// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* 
    General CSS
*/
html,
body {
    height: 100%;
}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------
 Home Page
*/
.icon{
    color: $laravel-red;
    border-color: $laravel-red;
    height:100%;
    width:100%;
    
}
.icon:hover{
    color: $body-bg;
    background-color: $laravel-red;
    border-color: $laravel-red;
    height:100%;
    width:100%;
}
.fa-bicycle, .fa-line-chart, .fa-sign-in{
    padding: 10%;
    font-size: 10em!important;
}
/*-------------------------
    bike search container responsive size on all devices
*/
.icon-small{
    color: $laravel-red;
    border-color: $laravel-red;
}
.icon-small:hover{
    color: $body-bg;
    background-color: $laravel-red;
    border-color: $laravel-red;
}
.search-container, .filter-form ,.form-horizontal{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.form-control{
    margin-right: 1em;
    margin-left:1em;
}
@media only screen and (min-width: 1000px) {
    .search-container, .filter-form ,.form-horizontal{
       width:70%;
    }
    .navbar{
        width:50%!important;
        margin: auto;
    }
}
